body {
    background-color: yellow;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: blue;
    font-size: 20px;s
    text-align: left;
    margin-left: 50px;
}

a {  
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    text-decoration: none;
}

#links {
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    text-decoration: none;  
}

#welcome {
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    text-decoration: none;
}

#section1 {
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    text-decoration: none;
}

#section2 {
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    text-decoration: none;
}

#image1 {
    margin-left: 50px;
}

#image2 {
    margin-left: 50px;
}

#image3 {
    margin-left: 50px;
}