
.nav li {
  display: inline;
  color: #d3d3d3;
}

.jumbotron {
  background-image:url('../images/background.jpg');
  height: 425px;
}

.jumbotron .container {
  position: relative;
  top: 10px;
}

#jumborow {
  height: 10px;
}

.jumbotron h2 {
  color: #000;
  font-size: 30px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 15px;
  color: #000;
}

.btn {
  background-color: #FF6126;
  border-radius: 0px;
}

.form-control {
  border-radius: 0px;
}

.footer {
  position: relative;
  color: #000;
  background-color: #fff;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
}

.footer h4 {
  text-align: center;
  padding-top: 10px;
}

.footer p {
  color: #d3d3d3;
}