
.nav {
  padding-top: 20px;
}

.nav li {
  display: inline;
  padding-right: 20px;
  font-size: 15px;
  font-family: sans-serif;
  color: #d3d3d3;
}

.nav button {
  background-color: #FF6126;
  color: #fff;
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {
  background-image:url('../images/background.jpg');
  height: 300px;
}

.jumbotron .container {
  position: relative;
  top: 10px;
}

.jumbotron h2 strong {
  color: #000;
  font-size: 30px;  
  font-weight: bold;
}

.jumbotron h2 {
  color: #FF6126;
  font-size: 30px;  
  font-weight: bold;
}

.jumbotron p {
  font-size: 15px;
  color: #000;
}

.jumbotron button {
  background-color: #FF6126;
  font-weight: bold;
  color: #fff;
  border-radius: 0px;
  margin-left: -30px;
}

.jumbotron input {
  border-radius: 0px;
}

.footer {
  position: relative;
  color: #000;
  background-color: #fff;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
}

.footer h4 {
  text-align: center;
  padding-top: 10px;
}

.footer p {
  color: #d3d3d3;
  text-align: center;
}